.basicBlock {
  margin-top: 20px;
  width: 90%;
  background-color: #313131;
  margin: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  padding: 10px;
}

.title {
  color: white;
  font-size: 14px;
  margin-left: 7px;
  margin-bottom: 15px;
  font-weight: 500;
}

.whiteBoxContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
}
.whiteBoxContainer2 {
  width: 100%;
  display: flex;
}

.submenu {
  display: flex;
}

.whiteBlock {
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 7px;
  margin-bottom: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 12px;
}

.whiteBlock:hover {
  cursor: pointer;
}
